#desktop-element {
  display: flex;
  scroll-behavior: smooth;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  margin-top: 10px;
}

input {
  padding: 5px;
  margin-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

label {
  padding: 5px;
}

form {
  margin-left: 24px;
  margin-top: 10px;
}

.no-results {
  padding: 30px 50px;
  font-style: italic;
}

@media (max-width: 600px) {
  #desktop-element {
    display: none;
  }

  .buttons {
    visibility: hidden;
  }
}
