.body-type {
  text-transform: uppercase;
  font-weight: bold;
  color: grey;
}

/* make images not draggable */
img {
  user-select: none;
  -moz-user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-user-drag: none;
}

/* In order to use mobile or desktop component depending on screen width*/
#mobile-element {
  display: none;
}

#desktop-element {
  display: flex;
  scroll-behavior: smooth;
}

@media (max-width: 600px) {
  #mobile-element {
    display: flex;
    scroll-behavior: smooth;
    overflow: hidden;
    width: 600px;

    /* Avoid scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    /* Make test not selectable to avoid selecting texting while swiping in mobile */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .mobile-element::-webkit-scrollbar {
    display: none;
  }

  body {
    width: 600px;
  }

  .buttons {
    visibility: hidden;
  }

  #desktop-element {
    display: none;
  }
}

/* ANIMATIONS */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.title {
  display: flex;
  margin-bottom: 1rem;
}

.ml {
  margin-left: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  margin-top: 10px;
}

input {
  padding: 5px;
  margin-left: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
}

label {
  padding: 5px;
}

form {
  margin-left: 24px;
  margin-top: 10px;
}

.no-results {
  padding: 30px 50px;
  font-style: italic;
}
